# Peer graded assignment

## Introduction
This a jupiter notebook with the answers to the Coursera's peer graded assignment of the Module 4, course "Tools for Data Science". Here you will find a combination of Markdown and code.

### This are the most common programming languagues used in data science
+ Python
+ R
+ SQL
+ Other languagues are Scala, Julia and C++

### This are examples of Python libraries and their use for data science
+ Pandas, NumPy, SciPy, Matplotlib. Used for scientific computing.
+ PyTorch, TensorFlow, Keras, Scikit-learn. For artificial intelligence.
+ NLTK. For natural language processing.

#### Table 1. Examples of open source tools for data science grouped by category
Category | Tool
--- | ---
Data management | MySQL, PostgreSQL, Hapache Hadoop, MongoDB, CouchDB, Apache Cassandra, Ceph
Data integration and transformation | Apache Airflow, Kubeflow, Apache Kafka, Apache NiFi, Spark SQL, Node-RED
Data visualization | Hue, Kibana, Apache Superset
Model deployment | Apache PredictionIO, Seldon, Mleap, TensorFlow Serving
Model monitoring | ModelDB, Prometheus
Code asset management | Git
Data asset management | Apache Atlas, ODPi Egeria, Kylo
Development environment | Jupyter Notebook, JupyterLab, Apache Zeppelin, RStudio, Spyder, Apache Spark
Fully integrated visual tools | Knime, Orange

### The following expressions multiply and add two numbers

In [2]:
a = 1 * 2
b = 3 + 1
print(a)
print(b)

2
4

In [10]:
# This code transform minutes to hours
minutes = 60
hours = minutes / 60
print(str(minutes) + ' minutes equals to ' + str(hours) + ' hour')

60 minutes equals to 1.0 hour

### Objectives
+ Objective 1
+ Objective 2
+ Objective 3

### Author: Yusdiel Torres Cambas